In [2]:
print('Hello')

Hello

In [3]:
import pandas as pd

df=pd.read_csv('test_data_truck.csv')
df

,date,si,fe,al,particulate,temp,avg_speed,failure,id,colour,viscosity
0,2025-04-01 06:00:00,5.032302,1.889529,0.004262,15.643142,100.152257,42.789237,0,1,884.226491,2478.114131
1,2025-04-01 12:00:00,5.012186,0.069135,11.356892,53.814684,146.145708,56.291729,0,2,379.170880,2483.198727
2,2025-04-01 18:00:00,5.027387,1.152203,0.464471,8.198661,98.595428,58.699819,0,3,106.167846,2467.355421
3,2025-04-02 00:00:00,5.101075,0.245760,0.192223,3.806345,95.180163,54.667968,0,4,392.821031,2465.144727
4,2025-04-02 06:00:00,4.963100,2.493086,11.333900,60.368586,139.650214,56.576253,0,5,323.053589,2479.587927
...,...,...,...,...,...,...,...,...,...,...,...
795,2025-10-17 00:00:00,5.477433,0.680765,22.000885,97.123380,184.297953,44.165744,0,4,668.857432,2475.019159
796,2025-10-17 06:00:00,6.459367,1.133032,67.582152,282.283033,371.490231,28.006154,1,5,1220.930233,2476.345576
797,2025-10-17 12:00:00,5.330595,0.564065,17.064867,73.633692,165.583039,41.354766,0,6,872.093023,2471.408359
798,2025-10-17 18:00:00,4.997605,0.927897,10.429035,43.864199,136.589929,55.005225,0,10,1061.678463,2470.745151
799,2025-10-18 00:00:00,5.667296,0.351587,20.893706,93.456110,181.250375,44.174108,0,11,1336.198180,2475.756057

In [4]:
df.shape
df.describe()
# good no empty/none column

,si,fe,al,particulate,temp,avg_speed,failure,id,colour,viscosity
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000
mean,5.248443,1.668102,21.061768,95.621717,183.552666,49.213262,0.013750,19.108750,784.470425,2470.846198
std,0.354621,2.404482,39.342834,157.989723,157.712539,7.634702,0.116524,11.535956,390.189311,12.052457
min,4.755467,0.002073,0.004262,0.025425,91.029974,18.996439,0.000000,0.000000,9.100101,2434.489772
25%,5.004343,0.566553,2.558889,19.964630,107.486908,44.806210,0.000000,9.000000,436.425683,2465.347374
50%,5.114945,1.157931,9.348165,48.188014,135.437772,49.961106,0.000000,19.000000,814.459050,2470.892531
75%,5.401979,1.937728,21.795665,100.525384,190.499137,54.339263,0.000000,29.000000,1127.275025,2476.879827
max,6.873631,21.188833,224.210933,901.889080,990.956736,70.046599,1.000000,39.000000,1500.000000,2500.000000

In [7]:
# Just to ensure no invalid data in faiure column
X= df.drop(columns =['date','failure'])
Y = df['failure']

In [8]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import tree
import numpy as np
import joblib
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=.2)
model =DecisionTreeClassifier()
model.fit(X_train, Y_train)
# lets see what would be the failure status of truck no. 34, 796 with some random oil properties and other parameters and no training of the data
prediction =model.predict([ [5.0 , 1.5, 10.4, 28.3, 110, 50 ,34, 885.01, 2470.8] , [9.0 , 41.5, 355.4, 1228.3, 1110, 90 ,796, 985.01, 1470.8] ])
#prediction
better_prediction = model.predict(X_test) 
better_prediction
score = accuracy_score(Y_test,better_prediction )
score
# accuracy looks good from .99 to 1.0
joblib.dump(model,'failure-predictions.joblib')
tree.export_graphviz(model, out_file ='failure_prediction.dot',
                     feature_names =['si','fe','al','particulate','temp','avg_speed','id','colour','viscosity'],
                     class_names= np.array(Y.unique()).astype('str').tolist(),
                     label = 'all',
                     rounded =True,
                     filled=True)

c:\Users\kaveh\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(